* {
    margin: 0;
    padding: 0;
    font-family: Garamond;
    box-sizing: border-box;
}

/* ---------------- NAV ---------------- */

nav {
    position: fixed;
    background-color: black;
    width: 100%;
    padding: 10px 0;
    opacity: 0.9;
    z-index: 1000;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: ghostwhite;
}

nav li:hover {
    background-color: ghostwhite;
}

nav li:hover a {
    color: black;
}

/* ---------------- HOME SECTION ---------------- */

#home {
    padding: 150px 20px 100px 20px;
    text-align: center;
    background-image: url(../resources/images/wood.jpg);
    background-size: cover;
    background-position: center;
}

.profile-picture {
    width: 90%;
    max-width: 400px;
    height: auto;
    border-radius: 15%;
    border: 3px solid ghostwhite;
    opacity: 0.95;
}

/* ---------------- ABOUT SECTION ---------------- */

#about-me {
    padding: 150px 20px;
    text-align: center;
    background-image: url("../resources/images/smoke-and-mountains.jpg");
    background-size: cover;
    background-position: center;
    color: ghostwhite;
}

.justify {
    width: 90%;
    max-width: 800px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
}

.justify h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    padding: 10px 0;
    font-size: 18px;
    line-height: 1.6;
}

/* ---------------- FOOTER ---------------- */

footer {
    text-align: center;
    font-size: 18px;
    background-color: black;
    color: ghostwhite;
    padding: 10px 0;
}

footer a {
    color: ghostwhite;
}

/* ---------------- MOBILE IMPROVEMENTS ---------------- */

@media (max-width: 768px) {

    nav li {
        display: block;
        padding: 10px 0;
    }

    #home {
        padding: 120px 20px 80px 20px;
    }

    #about-me {
        padding: 120px 20px;
    }

    .justify {
        width: 95%;
        padding: 15px;
    }

    p {
        font-size: 16px;
    }

    .justify h2 {
        font-size: 24px;
    }
}#home ul {
    margin: 25px;
    opacity: 0.90;
}

#home li {
    display: inline;
    border: 3px solid ghostwhite;
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    background-color: black;

}

#home h1,
#home h2 {
    color: ghostwhite;
}

#about-me {
    margin: auto;
    padding: 200px 0;
    height: auto;
    text-align: center;
    background-image: url("../resources/images/smoke-and-mountains.jpg");
    background-size: cover;
    color: ghostwhite;

}

#about-me a {
    text-decoration: underline;
    color: ghostwhite
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    font-family: Garamond;
    font-size: 20px;
    background-color: black;
    color: ghostwhite;
    width: 100%;
    padding: 20px auto;
    height: auto;
    margin: auto;
    opacity: .95;
    padding: 5px 0;
}

footer a {
    color: ghostwhite;
}

.social-media a {
    color: ghostwhite;
}

.justify {
    text-align: justify;
    width: 35%;
    margin: auto;
    background-color: black;
    padding: 10px;
    border-radius: 5%;
    opacity: .80;
}

h1, h3, p {
    
    padding: 10px;
    font-size: 20px;
}

.justify h2 {
    text-align: center;
    font-size: 30px;
    padding: 5px;
}
